* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
    overflow: hidden;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
}


/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
    height: 450px;
    vertical-align: middle;
}
